// Variables
@use "../../pf2e-variables" as var;
//Maps
@use "seed-maps" as admonition-map;

//Time to color this Seed
@each $key, $value in admonition-map.$pf2e-admonitions {
  .admonition.admonition.admonition[data-callout="#{$key}"] {
    --callout-color: #{$value};
    --callout-content-background: #{$value};

    background-color: #{$value};
    box-shadow: 0 0.2rem 0.5rem #{var.$call-box-shadow};

    & .admonition-title {
      background-color: #{$value};

      & .admonition-title-icon {
        color: invert($value, 100%);
      }
    }

    & .admonition-content {
      background-color: #{$value};

      & blockquote {
        $lightness: lightness($value);
        @if ($lightness > 50) {
          background-color: hsla(hue($value), saturation($value), $lightness, 1); /* Apply if color is light */
        } @else {
          background-color: hsla(hue($value), saturation($value), $lightness, 0.8); /* Apply if color is dark */
        }
      }

    }
  }
}
