@use "../pf2e-callmonition-variables" as call-var;

.callout[data-callout=pf2-note] {
  border: none;
  clear: both;
  font-style: italic;
}

.callout[data-callout=pf2-note] .callout-title-inner {
  font-size: call-var.$call-fts-h5;
}

.callout[data-callout=pf2-note] .callout-title-inner .no-title {
  font-size: 0;
}
