.callout[data-callout="success-degree"] {
  & .callout-title {
    display: none;
  }

  & .callout-title-inner {
    display: none;
  }

  & .callout-content {
    & ul {
      list-style-type: disclosure-open;
      padding-inline-start: 16px;
    }

    & li {
      line-height: 1;

      &::before {
        display: none; /*! Needed for ITS Theme */
      }
    }
  }
}
