
/////
// Functions and Measures
////
$dark-theme-br: 10%;
$callout-border-opacity: 25%;


@function darken-if($color, $amount) {
  @if selector-nest(".theme-dark") {
    @return darken($color, $amount);
  } @else {
    @return $color;
  }
}

/////
// Tables
////

// Fonts
$pf2e-ff-table: "Roboto", "Source Sans Pro", "Open Sans", "Pathfinder", sans-serif;

// Font Sizes
$table-h-size: 16px;

// Table Sizes
$table-b-width: 1px;
$table-c-1-b-width: 1px;
$table-c-max-width: none;
$table-h-b-width: 1px;
$table-space: normal;
$table-max-width: none;

// Table Colors
$table-bg-c1: darken-if(hsl(50, 50%, 90%), $dark-theme-br);
$table-bg-c2: darken-if(hsl(50, 35%, 80%), $dark-theme-br);
$table-bg-r1: darken-if(hsl(50, 35%, 80%), $dark-theme-br);
$table-bg-r2: darken-if(hsl(50, 50%, 90%), $dark-theme-br);
$table-b-c: darken-if(hsl(45, 35%, 90%), $dark-theme-br);
$table-bg-c-A: darken-if(hsl(50, 35%, 80%), $dark-theme-br);
$table-ftcH: darken-if(hsl(5, 5%, 95%), $dark-theme-br);
$table-ftcl: darken-if(hsl(5, 5%, 20%), $dark-theme-br);
$table-ftc: darken-if(hsl(5, 5%, 20%), $dark-theme-br);
$table-bgH-Gold: darken-if(hsl(50, 80%, 70%), $dark-theme-br);
$table-bgH-Blue: darken-if(hsl(251, 100%, 50%), $dark-theme-br);
$table-b-cH: darken-if(hsl(40, 40%, 60%), $dark-theme-br);
$table-cH: darken-if(hsl(5, 95%, 95%), $dark-theme-br);
$table-bg-rH: darken-if(hsl(215, 40%, 60%), $dark-theme-br);
$table-ftl-Red: darken-if(hsl(355, 80%, 30%), $dark-theme-br);
