// Another snack from Ebullient and some help from SlRvB. Leaving Dataview in there.
// Variables
@use 'pf2e-variables';

// The Works.. Its a Mess to Address Many Themes
table {
  border-collapse: collapse;
  border-color: pf2e-variables.$table-b-c;
  border-spacing: pf2e-variables.$table-b-width;
  box-sizing: border-box;
  display: table;
  font-family: sans-serif;
  overflow-wrap: break-word;
  text-align: center;

  & .internal-link {
    color: pf2e-variables.$table-ftl-Red;
    font-style: italic;
    font-weight: 600;
  }

  &.reveal,
  &.is-live-preview {
    td:nth-child(odd) {
      background-color: pf2e-variables.$table-bg-r1;
    }

    tr:nth-child(even) {
      background-color: pf2e-variables.$table-bg-r2;
      opacity: unset;
      border-left: 1px solid pf2e-variables.$table-b-c;
      border-right: 1px solid pf2e-variables.$table-b-c;
    }

    th {
      background-color: pf2e-variables.$table-bgH-Gold;
      color: pf2e-variables.$table-ftcH;
    }
  }

  &.markdown-rendered {
    border-collapse: collapse;
    margin-block-end: 14px;
    margin-block-start: 14px;

    thead {
      tr {
        th {
          text-overflow: ellipsis;
          white-space: pf2e-variables.$table-space;
        }

        th:nth-child(2n+2) {
          background-color: pf2e-variables.$table-bgH-Gold;
        }
      }
    }

    tbody {
      tr {
        td {
          text-overflow: ellipsis;
          white-space: pf2e-variables.$table-space;

          &:nth-child(odd) {
            td:hover {
              background-color: pf2e-variables.$table-bg-rH;
              color: darkgoldenrod;

              & a {
                color: darkgoldenrod;
              }
            }
          }
        }

        td:nth-child(2n+2) {
          background-color: pf2e-variables.$table-bg-c-A;
        }

        &:hover td {
          background-color: pf2e-variables.$table-bg-rH;
          color: darkgoldenrod;
          font-weight: 700;

          & a {
            color: darkgoldenrod;
          }
        }
      }
    }

    th,
    table th {
      background-color: pf2e-variables.$table-bgH-Gold;
      color: pf2e-variables.$table-ftcH;
    }

    td {
      border: pf2e-variables.$table-b-width solid pf2e-variables.$table-b-c;
      color: pf2e-variables.$table-ftc;
      font-size: pf2e-variables.$table-h-size;
      max-width: pf2e-variables.$table-c-max-width;
      padding: 4px 8px;

      &:nth-child(odd) {
        td:hover {
          background-color: pf2e-variables.$table-bg-rH;
          color: darkgoldenrod;

          & a {
            color: darkgoldenrod;
          }
        }
      }
    }
  }
}
