@use '../../pf2e-variables';

@mixin title-svg {
  .svg-icon {
    height: 18px;
    width: 18px;
    stroke-width: 1.75px;

    &.svg-inline {
      display: inherit;
      line-height: 0.875em;
      vertical-align: -0.125em;

      svg:not(:root) & {
        overflow: visible;
      }
    }
  }
}

@mixin callout-icon {
  @include title-svg;
  height: 25px;
  width: 25px;
  color: currentColor;
  filter: invert(1) saturate(3);

  &:not(.callout-content) {
    display: flex;
    align-self: unset;
  }

  &:has(.callout-content) {
    height: 16px;
    width: 16px;
  }
}

@mixin admonition-icon {
  @include title-svg;
  height: 25px;
  width: 25px;
  color: currentColor;
  filter: invert(1) saturate(3);

  &:not(.callout-content) {
    display: flex;
    align-self: unset;
  }

  &:has(.callout-content) {
    height: 16px;
    width: 16px;
  }
}
