@use '../../pf2e-variables';

@mixin title {
  align-items: center;
  border: 2px solid;
  display: flex;
  font-family: pf2e-variables.$call-ff-title;
  font-size: pf2e-variables.$call-fts-h1;
  gap: unset;
  line-height: pf2e-variables.$call-line-height;
  min-height: 1.5rem;
  padding-top: 10px;
  position: relative;
  z-index: 5;

  & .is-collapsible {
    cursor: pointer;
  }
  
}
