// Pathfinder Font
$pathfinder-font-family: "Pathfinder" !default;
$pathfinder-font-path: "Pathfinder" !default;

$pathfinder-1action: "\2b3b";
$pathfinder-2actions: "\2b3a";
$pathfinder-3actions: "\2b3d";
$pathfinder-delay: "\2b53";
$pathfinder-reaction: "\2b32";


$dark-theme-br: 10%;

@function darken-if($color, $amount) {
  @if selector-nest(".theme-dark") {
    @return darken($color, $amount);
  } @else {
    @return $color;
  }
}

////
// Typography
///

// Styling
$pf2e-font-decoration-link: underline;
$pf2e-font-weight-link: 700;

// Font Text
$pf2e-ff-default: "Open Sans", "Roboto", "Helvetica Neue", "Pathfinder", sans-serif;
$pf2e-ftc: darken-if(hsl(0, 0%, 14%), $dark-theme-br);

// Links
$pf2-ftl-active-blue: darken-if(hsl(210, 46%, 36%), $dark-theme-br);
$pf2e-font-active-link-blue: darken-if(hsl(210, 100%, 68%), $dark-theme-br);
$pf2e-font-active-link-red: darken-if(hsl(0, 28%, 30%), $dark-theme-br);
$pf2e-font-inactive-link-red: darken-if(hsl(0, 34%, 40%), $dark-theme-br);
$pf2e-font-unresolved-hover-link: darken-if(hsl(182, 80%, 38%), $dark-theme-br);
$pf2e-font-unresolved-link: darken-if(hsl(200, 63%, 62%), $dark-theme-br);
$pf2e-ftl-active-red: darken-if(hsl(0, 100%, 20%), $dark-theme-br);
$pf2e-ff-links: "Helvetica Neue", Helvetica, Arial, "Pathfinder", sans-serif;

// Strong
$pf2e-font-bold-bright: darken-if(hsl(16, 100%, 42%), $dark-theme-br);

// Italic
$pf2e-font-text-italic: darken-if(hsl(100, 50%, 30%), $dark-theme-br);
$pf2e-font-italic-green-trait: darken-if(hsl(110, 50%, 63%), $dark-theme-br);


// Headers
$pf2e-ft-h1: darken-if(hsl(330, 95%, 40%), $dark-theme-br);
$pf2e-ft-h2: darken-if(hsl(220, 95%, 20%), $dark-theme-br);
$pf2e-ft-h3: darken-if(hsl(0, 95%, 20%), $dark-theme-br);
$pf2e-ft-h4: darken-if(hsl(15, 35%, 50%), $dark-theme-br);
$pf2e-ft-h5: darken-if(hsl(15, 60%, 40%), $dark-theme-br);
$pf2e-ft-h6: darken-if(hsl(95, 50%, 45%), $dark-theme-br);
$pf2e-ff-fantasy-title: "Cinzel Decorative", "Playfair Display", "Lobster", "Pathfinder", cursive, fantasy;
$pf2e-ff-title: "Montserrat", "Lato", "Pathfinder", Times, serif;

/////
// Code
////
$pf2e-bg-code-light: darken-if(hsl(30, 21%, 95%), $dark-theme-br);
$pf2e-bg-code-dark: darken-if(hsl(0, 0%, 15%), $dark-theme-br);
$pf2e-f-fam-code: "Fira Code", "Source Code Pro", "Inconsolata", "Pathfinder", monospace;
$pf2e-ftc-code-light: darken-if(hsl(51, 100%, 50%), $dark-theme-br);
$pf2e-ftc-dark: darken-if(hsl(0, 0%, 14%), $dark-theme-br);
$pf2e-font-text-size-code: 0.8em;
$pf2e-radius-code: 0.2em;

/////
// Link Box Shadows
/////
$box-shadow-condition: darken-if(hsl(120, 100%, 20%), $dark-theme-br);
$box-shadow-skills: darken-if(hsl(273, 34%, 72%), $dark-theme-br);
$box-shadow-traits: darken-if(hsl(5, 87%, 18%), $dark-theme-br);
$box-shadow-alignment: darken-if(hsl(230, 23%, 45%), $dark-theme-br);
$box-shadow-size: darken-if(hsl(142, 24%, 39%), $dark-theme-br);
$box-shadow-common: darken-if(hsl(204, 19%, 26%), $dark-theme-br);
$box-shadow-rare: darken-if(hsl(222, 79%, 21%), $dark-theme-br);
$box-shadow-uncommon: darken-if(hsl(15, 37%, 41%), $dark-theme-br);
$box-shadow-unique: darken-if(hsl(278, 59%, 26%), $dark-theme-br);

/////
// General Styling
/////

$pf2e-font-decoration-link: underline;
$pf2e-font-text-size-code: 0.8em;
$pf2e-font-weight-link: 700;


//////
// Font Sizes
//////
