.admonition {
  --callout-border-opacity: 0.4;
  border-radius: var(--radius-s);
  font-family: var(--call-ffp);
  font-size: var(--call-ftsp);
  overflow-wrap: break-word;
  overflow-x: auto;
  overflow-y: scroll;
  padding: var(--size-4-4);
  position: relative;
}
.admonition a {
  color: var(--call-ftl-active);
  opacity: unset;
  padding: 1px;
}
.admonition a.is-unresolved {
  color: var(--call-ftl-inactive);
}
.admonition strong {
  color: var(--call-ftb);
}
.admonition em {
  color: var(--call-fti);
}
.admonition .is-collapsible {
  cursor: var(--cursor);
}
.admonition .is-collapsible .callout-fold svg.lucide-chevron-down {
  transform: scaleY(-1);
}
.admonition .callout-title,
.admonition .admonition-title {
  background-color: blue;
  line-height: var(--call-line-height);
  padding-top: 10px;
  position: relative;
}
.admonition .callout-title:empty + .callout-content,
.admonition .admonition-title:empty + .callout-content {
  padding: var(--size-4-1) var(--size-4-3);
}
.admonition .callout-title .svg,
.admonition .admonition-title .svg {
  height: 20px;
  width: 20px;
}
.admonition .no-title {
  font-size: 0;
}
.admonition .callout-icon .svg-icon,
.admonition .admonition-title-icon {
  height: 25px;
  width: 25px;
  color: currentColor;
  filter: invert(1) saturate(3);
}
.admonition .callout-title-inner,
.admonition .admonition-title-content {
  background-color: transparent;
  font-size: var(--call-fts-h1);
  font-weight: var(--call-f-title-weight);
}
.admonition .callout-title-inner em,
.admonition .admonition-title-content em {
  font-weight: var(--call-f-title-weight);
}
.admonition .edit-block-button:hover {
  color: blue;
  opacity: 100%;
}
.admonition .callout-content,
.admonition .admonition-content {
  display: inline;
  background-color: blue;
}
.admonition .callout-content > :first-child,
.admonition .admonition-content > :first-child {
  margin-top: 0;
}
.admonition .callout-content > :last-child,
.admonition .admonition-content > :last-child {
  margin-bottom: 0;
}
.admonition .callout-content blockquote,
.admonition .admonition-content blockquote {
  background-color: blue, var(--callout-background-alpha); /*! Needed for some Themes */
}
.admonition .callout-content h1,
.admonition .admonition-content h1 {
  box-shadow: none; /*! Needed for some themes */
  filter: none; /*! Needed for some themes */
  font-size: var(--call-fts-h1);
  font-weight: var(--call-f-title-weight);
}
.admonition .callout-content h2,
.admonition .admonition-content h2 {
  color: var(--call-ft-h2);
  box-shadow: none; /*! Needed for some themes */
  filter: none; /*! Needed for some themes */
  font-size: var(--call-fts-h2);
  font-weight: var(--call-f-title-weight);
}
.admonition .callout-content h3,
.admonition .admonition-content h3 {
  box-shadow: none; /*! Needed for some themes */
  filter: none; /*! Needed for some themes */
  font-family: var(--call-ff-title);
  font-size: var(--call-fts-h3);
  font-weight: var(--call-f-title-weight);
  text-align: var(--call-f-title-align);
}
.admonition .callout-content h3:after,
.admonition .callout-content h3 .HyperMD-header-3::after,
.admonition .admonition-content h3:after,
.admonition .admonition-content h3 .HyperMD-header-3::after {
  display: none;
}
.admonition .callout-content h3:before,
.admonition .admonition-content h3:before {
  display: none;
}
.admonition .callout-content code,
.admonition .admonition-content code {
  background-color: var(--pf2e-background-code-whitespace);
  color: var(--pf2e-font-text-code);
}
.admonition .callout-content ul, .admonition .callout-content ol,
.admonition .admonition-content ul,
.admonition .admonition-content ol {
  padding: 0.25em;
}
.admonition .callout-content ul:is(.wotc), .admonition .callout-content ol:is(.wotc),
.admonition .admonition-content ul:is(.wotc),
.admonition .admonition-content ol:is(.wotc) {
  /*! ITS FIX */
  padding-inline-start: 1.25em;
}
.admonition .callout-content ul li, .admonition .callout-content ol li,
.admonition .admonition-content ul li,
.admonition .admonition-content ol li {
  color: var(--call-ftu);
  font-size: 0.9rem;
  padding-left: 0;
  text-indent: 0;
}
.admonition .callout-content ul ul > li::before, .admonition .callout-content ol ul > li::before,
.admonition .admonition-content ul ul > li::before,
.admonition .admonition-content ol ul > li::before {
  display: none;
}
.admonition .callout-content ul li::marker, .admonition .callout-content ol li::marker,
.admonition .admonition-content ul li::marker,
.admonition .admonition-content ol li::marker {
  color: var(--call-ftu);
}
.admonition .callout-content .list-bullet:before,
.admonition .admonition-content .list-bullet:before {
  display: none;
}
.admonition .callout-content .list-bullet:after,
.admonition .admonition-content .list-bullet:after {
  display: none;
}

/*# sourceMappingURL=pf2e-admonition-each.css.map */
