// Single Action
@mixin single-action {
  :is([href$='#Actions'][title='Single Action']) {
    &:is(.internal-link) {
      content: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'2 0 1020 1024\'%3E%3Cpath d=\'M1022 512L510 0 263 247l265 265-265 265 247 247 512-512zM185 329L2 512l183 183 183-183-183-183z\'/%3E%3C/svg%3E');
    }

    &:is(.theme-dark .internal-link) {
      content: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'2 0 1020 1024\' fill=\'darkred\'%3E%3Cpath d=\'M1022 512L510 0 263 247l265 265-265 265 247 247 512-512zM185 329L2 512l183 183 183-183-183-183z\'/%3E%3C/svg%3E');
    }
  }
}
// Two Actions
@mixin two-actions {
  :is([href$='#Actions'][title='Two-Action']) {
    &:is(.internal-link) {
      content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 2128 1024" xmlns="http://www.w3.org/2000/svg" fill="black"><path d="M1018 512L507 1 261 248l264 264-264 264 246 247 511-511zM183 329L0 512l183 183 183-183-183-183zm1417 175L1152 56 935 272l232 232-232 232 217 217 448-449z"/></svg>');
    }

    &:is(.theme-dark .internal-link) {
      content: url('data:image/svg+xml;utf8,<svg viewBox="0 0 2128 1024" xmlns="http://www.w3.org/2000/svg" fill="darkred"><path d="M1018 512L507 1 261 248l264 264-264 264 246 247 511-511zM183 329L0 512l183 183 183-183-183-183zm1417 175L1152 56 935 272l232 232-232 232 217 217 448-449z"/></svg>');
    }
  }
}
// Three actions
@mixin three-actios {
  :is([href$='#Actions'][title='Three-Action']) {
    &:is(.internal-link) {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="5 0 2118 1024"><path d="m1025 512-512-512-247 247 265 265-265 265 247 247zm1098-10-360-360-175 174 187 186-187 187 175 174zm-1935-173-183 183 183 183 183-183zm1427 175-449-449-218 217 233 232-233 233 218 217z"></path></svg>');
    }
    &:is(.theme-dark .internal-link) {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="5 0 2118 1024" fill="darkred"><path d="m1025 512-512-512-247 247 265 265-265 265 247 247zm1098-10-360-360-175 174 187 186-187 187 175 174zm-1935-173-183 183 183 183 183-183zm1427 175-449-449-218 217 233 232-233 233 218 217z"></path></svg>');
    }
  }
}
