@use '../../pf2e-variables';

//Common Properties
@mixin title-fold-common {
  display: flex;
  margin-top: 0.15em;
  align-self: flex-start;
  padding-right: 8px;

  &:is(.is-collapsed) .svg-icon {
    transform: rotate(-90deg);
  }
  
  &:not(.is-collapsed) .svg-icon {
    transform: none;
  }
  
}

// For Callouts
@mixin title-fold-callout {
  & .svg-icon {
    transition: transform 100ms ease-in-out;
  }

  &:not(.callout-content > *) {
    @include title-fold-common;
  }
}

// For Admonitions
@mixin title-fold-admon {
  &:not(.admonition-content > *) {
    @include title-fold-common;
  }
}
