// The Plain Note
.callout[data-callout=pf2-note] {
  border: none;
  clear: both;
  font-style: italic;

  & .callout-title-inner {
    font-size: var(--call-fts-h5);

    & .no-title {
      font-size: 0;
    }
  }
}
