@use '../../pf2e-variables';

// Mixin Before main .callout or .admonition box
// Might work for -content too?
@mixin seed-before {
  &::before {
    content: '';
    display: block;
    height: 1.5rem;
    left: 50%;
    padding-top: 0.25em;
    position: absolute;
    top: -1.5rem; /* adjust as needed */
    transform: translateX(-50%);
    width: 1.5rem;
    z-index: 2;
  }
}
