@use '../../pf2e-variables';
// Mixin for Seed Link coloration
// Internal Links Only
@mixin seed-link {
  & .internal-link {
    color: pf2e-variables.$call-ftl-active;
    font-weight: bold;
    opacity: unset;
    padding: 0.0625em;
    text-decoration-line: inherit;
  }

  & .internal-link.is-unresolved {
    color: pf2e-variables.$call-ftl-inactive;
    font-style: italic;
  }
}
