/*! Link Box Shadows */
/* Link Coloration and Hover */
a {
  color: var(--pf2e-font-active-link-blue);
  font-weight: 700;
}

.markdown-preview-view .internal-link.is-unresolved {
  color: hsl(200, 39%, 32%);
  opacity: 1;
}
.markdown-preview-view .internal-link.is-unresolved:hover {
  color: var(--pf2e-font-unresolved-hover-link);
  vertical-align: baseline;
}

/* Removes Text Decoration Underline */
a:not(.tag).internal-link, a:not(.tag).external-link,
.internal-link.internal-link,
.internal-link.external-link,
.external-link.internal-link,
.external-link.external-link,
.cm-link.internal-link,
.cm-link.external-link,
.cm-hmd-internal-link.internal-link,
.cm-hmd-internal-link.external-link,
.markdown-rendered.internal-link,
.markdown-rendered.external-link {
  text-decoration: none;
}
a:not(.tag).tag:hover,
a:not(.tag) a:hover,
.internal-link.tag:hover,
.internal-link a:hover,
.external-link.tag:hover,
.external-link a:hover,
.cm-link.tag:hover,
.cm-link a:hover,
.cm-hmd-internal-link.tag:hover,
.cm-hmd-internal-link a:hover,
.markdown-rendered.tag:hover,
.markdown-rendered a:hover {
  background-color: rgba(var(--pf2e-font-active-link-blue), 0.3);
  color: var(--pf2e-font-active-link-blue);
}
a:not(.tag).tag:hover.is-unresolved,
a:not(.tag) a:hover.is-unresolved,
.internal-link.tag:hover.is-unresolved,
.internal-link a:hover.is-unresolved,
.external-link.tag:hover.is-unresolved,
.external-link a:hover.is-unresolved,
.cm-link.tag:hover.is-unresolved,
.cm-link a:hover.is-unresolved,
.cm-hmd-internal-link.tag:hover.is-unresolved,
.cm-hmd-internal-link a:hover.is-unresolved,
.markdown-rendered.tag:hover.is-unresolved,
.markdown-rendered a:hover.is-unresolved {
  background-color: hsla(200, 39%, 32%, 0.3);
  border: var(--tag-border-width) solid var(--tag-border-color-hover);
  color: hsl(200, 39%, 32%);
}

.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-url,
.cm-s-obsidian span.cm-formatting-link.cm-url {
  color: hsl(200, 39%, 32%);
  word-break: break-word;
}
.cm-s-obsidian .cm-hashtag {
  color: hsl(200, 39%, 32%);
}

:is([href="/rules/"]) {
  word-break: keep-all;
  text-align: left;
  text-indent: 0;
  padding: 2px;
  cursor: help;
}

:is([href$="#Actions"]):is(.internal-link) {
  cursor: context-menu;
  display: inline-block;
  font-size: inherit;
  height: clamp(18px, 4vw, 26px);
  text-decoration-line: none;
  vertical-align: bottom;
  width: clamp(18px, 4vw, 26px);
}

div.cm-line:has(a[href="/rules/traits/Uncommon.md"]) {
  box-shadow: 0 0 50px 50px #6c4032 inset !important;
  color: whitesmoke !important;
  padding: 2px;
  text-align: left;
  text-indent: 0;
}

.internal-link:is([href^="/rules/traits/"]:not([href="/rules/traits/Uncommon.md"])) {
  box-shadow: 0 0 50px 50px hsl(0, 79%, 19%) inset;
  color: whitesmoke !important;
  padding: 2px;
}

.internal-link:is([href*="/rules/conditions.md"]) {
  box-shadow: 0 0 50px 50px var(--box-shadow-condition) inset;
  color: whitesmoke !important;
  padding: 2px;
  text-align: left;
  text-indent: 0;
  word-break: keep-all;
}
.internal-link:is([href*="/rules/conditions.md"]):has(.cm-link)::after {
  content: "";
}

.internal-link:is([href*="/compendium/skills.md"]) {
  box-shadow: 0 0 50px 50px var(--box-shadow-skills) inset;
  color: midnightblue !important;
  cursor: help;
  padding: 2px;
  text-align: left;
  text-indent: 0;
  word-break: keep-all;
}

/*# sourceMappingURL=links.css.map */
